@media (max-width: 425px)
{
    .container {
        padding-right: 0 !important;
        padding-left: 0 !important; 
    }
    .myNavbarHeader {
        padding-right: 0 !important;
    }
}
.onClick {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.listSize {
    width: 100%;
}
.itemsColumn {
    flex-direction: column;
    align-items: initial;
}
.myScrollBar {
    padding-top: 95px;
}
.myNavbarHeader {
    position: fixed;
    z-index: 2;
    height: 95px;
    padding-left: 0;
    padding-right: 30px;
}
.myNav {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.pt-20 {
    padding-top: 20px;
}
.dropdown {
    position: absolute;
    right: 5%;
    top: 5%;
}
.dropdown-menu {
    width: 240px;
    z-index: 100;
}
.dropdown_threads {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}
.myContainerSelector {
    display: flex;
    flex-wrap: nowrap;
}
.displayNone {
    display: none
}
#inputGroupSelect02 {
    width:300px;
}
.to-all-window {
    flex: 1;
}

.to-wright-window {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer-img {
    width: 100px;
}

.black {
    color: black;
}

.my-imgs {
    width: 100%;
    max-width: 600px;
}

.mt-t {
    margin-top: 100px;
}
.history {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history2 {
    width: 85%;
}

.chat {
    width: 350px;
    border: solid 1px #EEE;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: azure;
  }
  
  .opacity0 {
    opacity: 0;
  }
  
  .messages {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
  }
  
  .yours {
    align-items: flex-start;
  }
  
  .yours .message {
    margin-right: 25%;
    background-color: #EEE;
    position: relative;
  }
  
  .yours .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #EEE;
    border-bottom-right-radius: 15px;
  }
  .yours .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
  }

  
  .mine .message {
    color: white;
    margin-left: 25%;
    background: rgb(0, 120, 254);
    position: relative;
  }
  
  .mine .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: rgb(0, 120, 254);
    border-bottom-left-radius: 15px;
  }
  
  .mine .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
  }

  .scrollingChat {
    overflow-y: auto;
    position: relative;
    top: 0;
    height: 299px;
    margin-left: 30px;
  }
  .center-a-i {
    align-items: center;
  }